/* ==========================================================================
Navbar styles
========================================================================== */
.custom-navbar {
  background-color: #8626c3 !important;
  color: #fff !important;

  width: 100vw !important;
  height: 48px !important;
  z-index: 2 !important;
  padding: 1.5rem;
}
.brand-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500 !important;
}
small {
  font-size: 0.85rem !important;
  font-weight: normal !important;
}
